$color-dark-3xl: #292929;
$color-dark-2xl: #444444;
$color-dark-xl: #4C4C4C;
$color-light-xl: #ffffff;
$color-light-xlv2: #c4c4c4;
$color-dark-l: #545454;
$color-light-l: #F6F6F6;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;
$color-light-s: #FAFAFA;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$background-header-screen: url('../../../data/img/backgrounds/header-back.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
$background-footer-screen: url('../../../data/img/backgrounds/noise_transparent@2x.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;